<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop Expeditions</title>
    <link rel="icon" href="./files/logo.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body>
    <section
  class="ezy__httpcodes7 light py-32 md:py-52 bg-white dark:bg-[#0b1727] text-[#04004d] dark:text-white relative overflow-hidden z-[1]"
>
  <!-- left image -->
  <div class="w-[50vw] absolute top-0 left-0 h-full hidden lg:block -z-[1]">
    <img
      src="https://cdn.easyfrontend.com/pictures/httpcodes/https7.jpg"
      alt=""
      class="h-full w-full object-cover"
    />
  </div>
  <!-- top right shape one-->
  <svg
    class="absolute top-0 right-0 text-green-50 dark:text-slate-800"
    width="285"
    height="315"
    viewBox="0 0 285 315"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse cx="233.5" cy="85.5" rx="233.5" ry="229.5" fill="currentColor" />
  </svg>
  <!--  shape two -->
  <svg
    class="absolute bottom-0 left-1/2 text-green-50 dark:text-slate-800"
    width="189"
    height="125"
    viewBox="0 0 189 125"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M32.423 0L189 156.577C145.769 199.808 75.6536 199.808 32.423 156.577C-10.8077 113.346 -10.8077 43.253 32.423 0Z"
      fill="currentColor"
      fill-opacity="0.75"
    />
  </svg>

  <!-- container -->
  <div class="container px-4 mx-auto">
    <div class="flex justify-end items-center">
      <div class="lg:max-w-2xl text-center lg:text-start">
        <h2 class="text-[100px] md:text-[160px] font-bold leading-none mb-6">404</h2>
        <p class="text-lg opacity-80">
          An activity that requires a person's mental or physical effort is work.If a person is trained for a
          certain type of job, they may have a profession. Typically, a job would be a subset of someone's career.
        </p>
      </div>
    </div>
  </div>
</section>

</body>
</html>