<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop Expeditions</title>
    <link rel="icon" href="./files/logo.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   
</head>
<body>

<!-- Background Video & Header -->

    <div class="banner">
        <video src="{{ url_for('static', filename='files/bgvid.mp4') }}" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav>
            
            <img src="{{ url_for('static', filename='files/file.png') }}" class="logo" alt="Logo" title="Pop Expeditions">
            
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li>
                    <a href="/destinations">Destinations</a>
                    <ul class="dropdown">
                        <li><a href="/destinations/destination1">Destination 1</a></li>
                        <li><a href="/destinations/destination2">Destination 2</a></li>
                        <li><a href="/destinations/destination3">Destination 3</a></li>
                    </ul>
                </li>
                <li><a href="/safari-packages">Packages</a></li>
                <li><a href="/accomodation">Accomodation</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a class="button-list" href="/enquire-now">Enquire Now</a></li>
            </ul>
        </nav>
 
        <div class="title">
            <h1 class="left-align">POP </h1>
            <h1 class="left-align"> EXPEDITIONS</h1>
            <p class="left-align">Get upto 20% off on your tours!</p>
            <!-- <p class="left-align">Book your dream vacation now!</p> -->
            <a href="/register" class="button">Start Traveling!</a>
        </div>
        </div>
    </div>


    
    <!-- Welcome and About Pop Expeditions -->  
    <section class="ezy__about12 light pt-14 md:pt-24 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white">
        <div class="container mx-auto px-4">
        <div class="grid grid-cols-12 gap-5 justify-center items-center">
            <div class="col-span-12 lg:col-span-6">
            <div class="lg:px-7">
                <h1 class="md:text-3xl leading-tight font-medium mb-2">Welcome to Pop Expeditions</h1>
                <p class="text-lg leading-normal opacity-75 my-6">
                Completely network collaborative web services via user-centric initiatives. Quickly promote sticky
                testing procedures collaborator before unique process improvements. Since our inception set out in 2012,
                TalEx has set out to disrupt inception the HR & Talent/Staffing Management industry. Purposefully
                designed by our founders (Amrita Grewal and Julie Dacar) to connect great companies and great talent.
                </p>
                <div class="mt-12">
                
                </div>
            </div>
            </div>
            <div class="col-span-12 lg:col-span-6">
            <div class="flex justify-center lg:justify-start lg:ml-12">
                <img src="https://cdn.easyfrontend.com/pictures/quiz_1.png" alt="" class="max-w-full" />
            </div>
            </div>
        </div>
        </div>
    </section>
  


<!-- Packages -->
<section class="cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    
    <div class="bg-white shadow-md rounded-lg overflow-hidden group">
        <a href="#" class="block">
            <img
              src=""
              alt=""
              class="h-[350px] w-full object-cover sm:h-[450px]"
            />
          
            <div class="p-4">
                <h3 class="text-gray-900 group-hover:underline group-hover:underline-offset-4">
                  
                </h3>
          
                <p class="mt-1.5 text-pretty text-xs text-gray-500">
                  
                </p>
          
                <p class="mt-3 text-gray-900"></p>
            </div>
        </a>
    </div>
    
</section>


<!-- Destinations -->
<section class="ezy__service14 light py-14 md:py-24 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white">
    <div class="container px-4 mx-auto">
      <div class="grid grid-cols-12 mb-6 md:mb-12">
        <div class="col-span-12 lg:col-span-6 lg:col-start-4 text-center">
          <h2 class="text-3xl leading-none md:text-[45px] font-bold mb-6">Our Services</h2>
          <p class="text-lg opacity-80">
            Had creeping had, appear that made living morning over brought stars likeness first, said Don't god Upon
            them days them.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-6 text-center">
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio4.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur scale-90 hover:scale-100 opacity-0 transition duration-500 hover:opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio3.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio10.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur scale-90 hover:scale-100 opacity-0 transition duration-500 hover:opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio11.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur scale-90 hover:scale-100 opacity-0 transition duration-500 hover:opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio17.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur scale-90 hover:scale-100 opacity-0 transition duration-500 hover:opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4">
          <div
            class="bg-center bg-no-repeat bg-cover rounded-[20px] flex flex-col justify-center items-center h-full transition duration-150"
            style="background-image: url(https://cdn.easyfrontend.com/pictures/portfolio/portfolio13.jpg)"
          >
            <div
              class="rounded-[20px] bg-blue-600 bg-opacity-50 text-white backdrop-blur scale-90 hover:scale-100 opacity-0 transition duration-500 hover:opacity-100 p-4 lg:p-16 xl:p-20"
            >
              <h4 class="text-2xl font-medium mb-4">Product Design</h4>
              <p class="opacity-80">
                Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores, illum at, aliquid
                blanditiis eligendi qui.Assumenda non repellendus distinctio nihil dicta sapiente, quibusdam maiores,
                illum at, aliquid blanditiis eligendi qui.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


<!-- Testomonials -->


<!-- Why us -->
<section class="ezy__service3 light py-14 md:py-24 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white">
    <div class="container px-4 mx-auto">
      <div class="flex items-center justify-center mb-6 md:mb-12">
        <div class="w-full max-w-xl text-center">
          <h2 class="text-3xl leading-none md:text-[45px] font-bold mb-4">Why Pop Expeditions?</h2>
          <p class="text-lg opacity-80 mb-6">
           
          </p>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6 mt-12">
        <div class="col-span-3 md:col-span-1">
          <div class="h-full bg-white dark:bg-slate-800 shadow-xl rounded-2xl mt-12">
            <div
              class="w-24 h-24 rounded-full text-3xl inline-flex justify-center items-center bg-red-400 text-white -mt-12"
            >
              <i class="fas fa-cannabis"></i>
            </div>
            <div class="p-6 lg:pb-12">
              <h4 class="text-2xl font-medium mb-4">SEO Analysis</h4>
              <p class="opacity-80">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-3 md:col-span-1">
          <div class="h-full bg-white dark:bg-slate-800 shadow-xl rounded-2xl mt-12">
            <div
              class="w-24 h-24 rounded-full text-3xl inline-flex justify-center items-center bg-blue-600 text-white -mt-12"
            >
              <i class="fas fa-random"></i>
            </div>
            <div class="p-6 lg:pb-12">
              <h4 class="text-2xl font-medium mb-4">Content Marketing</h4>
              <p class="opacity-80">
                
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-3 md:col-span-1">
          <div class="h-full bg-white dark:bg-slate-800 shadow-xl rounded-2xl mt-12">
            <div
              class="w-24 h-24 rounded-full text-3xl inline-flex justify-center items-center bg-yellow-400 text-white -mt-12"
            >
              <i class="fa fa-academic-cap"></i>
            </div>
            <div class="p-6 lg:pb-12">
              <h4 class="text-2xl font-medium mb-4">Photography</h4>
              <p class="opacity-80">
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- Find your perfect accomodation-->


<!-- Newsletter -->

<section class="newsletter">
    <div class="newstext">
        <h2>Newsletter</h2>
        <p>Subscribe to get offers and latest<br>updates every week!</p>
    </div>

    <div class="send">
        <form action="">
            <input type="email" name="emailid" placeholder="E-mail" required>
            <input type="submit" value="Subscribe">
        </form>
    </div>

</section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
                        <div class="footlinks">
                <div class="column">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/destinations">Destinations</a></li>
                        <li><a href="/safari-packages">Packages</a></li>
                        <li><a href="/accomodation">Accomodation</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            
                <div class="column">
                    <h4>Destinations</h4>
                    <ul>
                        <li><a href="/destinations/destination1">Destination 1</a></li>
                        <li><a href="/destinations/destination2">Destination 2</a></li>
                        <li><a href="/destinations/destination3">Destination 3</a></li>
                    </ul>
                </div>
            
                <div class="column">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/faq">FAQs</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>


            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://www.facebook.com/mohd.rahil.blogger" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/mohdrahil101" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.twitter.com/mohdrahil101" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.linkedin.com/in/mohdrahil101" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://www.youtube.com/techdollarz" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="https://www.mohdrahil.wordpress.com" target="_blank"><i class='bx bxl-wordpress' ></i></a>
                    <a href="https://www.github.com/mohdrahil101" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2024 Pop Expeditions All Rights Reserved.<br>Website developed by: Abugahh and LancemDev</p>
    </div>
</section>

<script>
    window.addEventListener('scroll', function() {
        const nav = document.querySelector('nav');
        if (window.scrollY > 50) {
            nav.classList.add('scrolled');
        } else {
            nav.classList.remove('scrolled');
        }
    });
</script>
 
</body>
</html>
